@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

        <div class="d-flex">
            <div class="w-100">
                <h3 class="mb-4">Enter OTP</h3>
            </div>
        </div>
        <form action="/Login/SendMail" class="signin-form">
            <div class="form-floating">
                <input id="email" type="email" placeholder="" name="email" class="form-control mb-4">
                <label for="email">Enter email registered with account</label>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class=" btn btn-primary rounded submit px-3">Send</button>
            </div>
        </form>
        <p class="text-center">Login to account? <a href="/Login/SignIn">Sign In</a></p>