<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        h4{
            font-size:200px;
            display:block
        }
        p{
            font-size:40px
        }
    </style>
</head>
<body>
    <hgroup>
        <div class="d-flex justify-content-center align-items-center flex-column">
            <h4>404</h4>
            <p>Page not found</p>
        </div>
    </hgroup>
</body>
</html>
