    <div id="unauthDiv" class="d-flex align-items-center justify-content-center text-center flex-column"> 
        <img src="~/Content/restriction.png"/>
        <h1>
            Unauthorized <br /> Access
        </h1>
    </div>
<style>
    h1{
        font-size : 70px;
    }
    #unauthDiv{
        padding-top : 100px
    }
</style>